{
  "board_iface": {{ dev_box_hil_runner_bench_iface | to_json }},
  "declaration_sha256": {{ dev_box_hil_runner_bench_policy_sha256 | to_json }},
  "mac": {{ dev_box_hil_runner_bench_mac | to_json }},
  "phc_index": {{ dev_box_hil_runner_bench_phc_index | int }},
  "sysfs_device": {{ dev_box_hil_runner_bench_sysfs_device | to_json }},
  "version": 1
}
