RA8CI_PGBACKREST_PATH=/usr/bin/pgbackrest
RA8CI_PGBACKREST_STANZA=ra8ci
RA8CI_BACKUP_SIGNING_KEY=/etc/ra8ci/backup-signing.key
RA8CI_BACKUP_PUBLIC_KEY_FILE=/etc/ra8ci/backup-signing.pub
RA8CI_BACKUP_ATTESTATION_FILE=/var/lib/ra8ci-backup/attestation.json
RA8CI_RESTORE_DRILL_RECEIPT=/etc/ra8ci/restore-drill.json
RA8CI_BACKUP_APPROVAL_ID={{ ra8ci_backup_approval_id }}

